
<div class="main-content pt-4">
    <div class="breadcrumb">
        <h1 class="mr-2">Resúmen de actividades</h1>
         <div class="col">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Día actual
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="dropdown.html#">Ultima semana</a><a class="dropdown-item" href="dropdown.html#">Ultimos 15 días</a><a class="dropdown-item" href="dropdown.html#">Ultimo mes</a></div>
            </div>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Check"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Ordenes de compra</p>
                        <p class="text-primary text-24 line-height-1 mb-2">53</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Car-Coins"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Pagos por verificar</p>
                        <p class="text-primary text-24 line-height-1 mb-2">37</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Checkout"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Ventas concretadas</p>
                        <p class="text-primary text-24 line-height-1 mb-2">16</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Financial"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Ingresos por ventas</p>
                        <p class="text-primary text-24 line-height-1 mb-2">$1200</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- venta por categoria -->
        <div class="col-lg-6 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Ventas por categoría</div>
                    <div id="echartPie" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <!-- fin venta por categoria -->
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-chart-bottom o-hidden mb-4">
                        <div class="card-body">
                            <div class="text-muted">Last Month Sales</div>
                            <p class="mb-4 text-primary text-24">$40250</p>
                        </div>
                        <div id="echart1" style="height: 260px;"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-chart-bottom o-hidden mb-4">
                        <div class="card-body">
                            <div class="text-muted">Last Week Sales</div>
                            <p class="mb-4 text-warning text-24">$10250</p>
                        </div>
                        <div id="echart2" style="height: 260px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body p-0">
                    <h5 class="card-title m-0 p-3">Last 20 Day Leads</h5>
                    <div id="echart3" style="height: 360px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay open"></div>
<div class="flex-grow-1"></div>
         