 <div class="main-content pt-4">
    <div class="breadcrumb">
        <ul>
            <li><a routerLink="/products" >Productos</a></li>
            <li>Detalle del producto</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <section class="ul-product-detail">
        <div class="row" *ngIf="tix !== undefined && !this._uw.editingTrek">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ul-product-detail__image"><img src="{{tix.images[0]}}"  alt="alt" /></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ul-product-detail__brand-name mb-4">
                                    <h5 class="heading">{{tix.productName}}</h5><span class="text-mute">{{tix.category}}</span>
                                </div>
                                <div class="ul-product-detail__price-and-rating d-flex align-items-baseline">
                                    <h3 class="font-weight-700 text-primary mb-0 mr-2">
                                        <span [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd">Bs.S. </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd">COLP </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].colp">$ USD </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].bs">
                                       {{tix.globalPrice*this._uw.currency  |  number:'1.2-2' }}</span>
                                       <span [hidden]="this._uw.currency==this._uw.info[0].usd">
                                       {{tix.globalPrice*this._uw.currency  |  number:'1.0-0' }} </span>
                                       <span> ({{tix.presentacion}})</span>
                                    </h3><span class="text-mute font-weight-800 mr-2">
                                       </span>
                                </div>
                                <div class="ul-product-detail__features mt-3">
                                    <h6 class="font-weight-700">{{tix.description}}</h6>
                                </div>
                                <div class="ul-product-detail__quantity d-flex align-items-center mt-3">
                                    <input class="form-control col-2" type="number" />
                                    <button class="btn btn-primary m-1" type="button"><i class="i-Arrow-Refresh text-15"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ul-product-detail__box">
        <div class="row">
            <div class="col-lg-3 col-md-3 mt-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="ul-product-detail__border-box">
                            <div class="ul-product-detail--icon mb-2"><i class="i-Car text-success text-25 font-weight-500"></i></div>
                            <h5 class="heading">Quick Delivery</h5>
                            <p class="text-muted text-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="ul-product-detail__border-box">
                            <div class="ul-product-detail--icon mb-2"><i class="i-Reload text-danger text-25 font-weight-500"></i></div>
                            <h5 class="heading">Back In 30 Days</h5>
                            <p class="text-muted text-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="ul-product-detail__border-box">
                            <div class="ul-product-detail--icon mb-2"><i class="i-Headset text-info text-25 font-weight-500"></i></div>
                            <h5 class="heading">Support 24/7</h5>
                            <p class="text-muted text-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="ul-product-detail__border-box">
                            <div class="ul-product-detail--icon mb-2"><i class="i-Money-Bag text-warning text-25 font-weight-500"></i></div>
                            <h5 class="heading">High Secure Payment</h5>
                            <p class="text-muted text-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>